body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #E1C7F2;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

footer {
	text-align: center;
	background-color: #ddd6f3;
	padding: 20px 0;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	padding:3em 0;
	width: 100%;
	background:#ddd6f3;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	text-align:center;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-weight:italic;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#ddd6f3, #dd2476);
}

.mapa-conteudo{
	width:940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.terapias{
	padding: 3em 0;
	background: #dd2476;
}

.conteudo-terapias{
	width:640px;
	margin:0 auto;
}

.lista-terapias{
	width:30%;
	display:inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content:"★";
}

.imagem-terapias {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000; 
}

.imagem-terapias:hover{
	opacity: 0.5;

}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-terapias, .mapa-conteudo{
		width:auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-terapias, .imagem-terapias{
		width:100%;
	}
